*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

.withbg{
    height: 100%;
    background-image: url("image/bg.jpeg");
    background-position: center;
    background-size: cover;
}


.content{
    margin-left: 80px;
}